<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import CalComponent from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInput from "./components/HandlingUserInput.vue";
import AttribiteBindings from "./components/AttribiteBindings.vue";
import ConditionalsAndLoops from "./components/ConditionalsAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponent from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponent />
    <FormBindings />
    <ConditionalsAndLoops />
    <AttribiteBindings />
    <HandlingUserInput />
    <CalComponent />
    <HelloWorldExample />
  </div>
</template>

<style scoped></style>
